/* Global styles */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #121212; /* Dark background */
    color: #e0e0e0; /* Light text color */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2 {
    color: #ffffff;
}

form {
    margin-bottom: 20px;
    width: 100%;
}

textarea, input[type="file"], input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #333333;
    color: #e0e0e0;
    border: none;
    margin-top: 10px;
    font-size: 1.2rem;
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding-left: 0;
    width: 100%;
}

ul li {
    margin-bottom: 10px;
    background-color: #333333;
    padding: 10px;
    border-radius: 5px;
}

ul li a {
    color: #1e90ff;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

#refresh-button {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #1e90ff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#refresh-button:hover {
    background-color: #1c7ccc;
}

/* Mobile-specific styles */
@media only screen and (max-width: 600px) {
    body {
        padding: 10px;
    }

    h1, h2 {
        font-size: 1.3rem; /* Smaller headings on mobile */
    }

    textarea, input[type="file"], input[type="submit"] {
        padding: 8px;
        font-size: 1rem; /* Adjust input size for mobile */
    }

    input[type="submit"] {
        font-size: 1rem;
    }

    ul li {
        padding: 8px;
        font-size: 1rem;
    }

    #refresh-button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}
